*{
    margin: 0;
    padding: 0;
}
/*comon style*/
.comon-btn{
    background-color: rgb(4, 33, 248);
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ebe5e5;
    outline: none;
    border: none;
    align-items: center;

}
.container{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

.banner{
    width: 100%;
    background-color: bisque;
    text-align: center;
    background-image: url(./assets/banner.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    padding: 6rem;
    background-color: rgba(13, 33, 14, 0.5);
    background-blend-mode: overlay;
}
.bannerTop{
    margin-bottom: 25rem;
}
.bannerHeadLine{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.BannerP{
    font-size: 1.3rem;
    max-width: 600px;
    margin: 0 auto;
}


.cardContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin-bottom: 10rem;
}

.card{
    border-radius: 1rem;
    overflow: hidden;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.9);
}
.card img{
    width: 100%;
}
.card div{
    padding: 2rem;
    display: grid;
    row-gap: 1rem;
}
.card div a{
    color: blue;
}
.card div p{
    color: rgb(75, 75, 78);
}